.profile-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Adjusts to 3 per row on larger screens */
  gap: 20px;
  justify-items: center;
  padding: 20px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent; /* Removed white background */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 280px;
  text-align: center;
  transition: transform 0.2s;
}

.profile-card:hover {
  transform: scale(1.05);
}

.profile-img-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.profile-name {
  font-size: 1.2em;
  color: #333;
  margin: 5px 0;
}

.profile-description {
  color: #555;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8em;
  flex: 1;
}

.summary-btn {
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s;
}

.summary-btn:hover {
  background-color: #45a049;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

/* Responsive styling */
@media (max-width: 600px) {
  .profile-card {
    max-width: 100%;
    padding: 15px;
  }

  .btn {
    padding: 8px 12px;
    font-size: 0.8em;
  }

  .profile-card-container {
    grid-template-columns: 1fr; /* Stacks the profiles in a single column on smaller screens */
  }
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  color: #000000;
  text-align: left;
}

.dialog-box h2, .dialog-box p {
  color: #000000;
}

.dialog-profile-photo {
  display: block;
  margin: 0 auto 15px auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.btn.close-btn {
  margin-top: 15px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.btn.close-btn:hover {
  background-color: #555;
}

.search-bar {
  margin: 20px 0;
  text-align: center;
}

.search-bar input {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}