.map-page-container {
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .leaflet-container {
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

 
.user-photo-marker {
    border-radius: 50%; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px; 
  }
  
  .user-photo {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 50%; 
  }